body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

.main_screen {
    display: flex;
    flex-direction: column;
}

.sidebar_farm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ant farm */

.dirt_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid;
    
}

.dirt_grid {
    display: flex;
    flex-direction: column;
}

.dirt_row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1300px) {
    .dirt_image {
        width: 96px;
        height: 96px;
    }
}

@media screen and (max-width: 1000px) {
    .dirt_image {
        width: 64px;
        height: 64px;
    }
}


/* info bar */

.info_bar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(165, 42, 42, 0.303);
    padding: 10px;
}

.hill_info {
    display: flex;
    flex-direction: row;
}


/* Sidebar */

.sidebar_container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: transform 0.3s;
    overflow-x: hidden;
    height: 100%;
    background-color: aliceblue;
}

.sidebar_and_button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hide {
    transform: translateX(-93%);
}

.toggle_sidebar_button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
}

.shop_text {
    text-align: center;
}

.sidebar_items {
    display: flex;
    flex-direction: column;
    background-color:bisque;
    width: 300px;
}

.sidebar_item {
    height: 100px;
    background: none;
    border: none;
    border-top: 3px solid black;
}



.image_darken {
    filter: brightness(25%);
}