body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
}

iframe {
    border: none;
}

.main_screen {
    display: flex;
    flex-direction: column;
}

.sidebar_farm {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.sidebar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.3s;
}

.hide {
    transform: translateX(-90%);
}

.toggle_sidebar_button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
}



.info_bar {
    height: 100%;
}

.sidebar {
    height: 100%;
    background-color: beige;
}

.ant_farm {
    width: 100%;
}